.ajax-loader, .ajax-modal-loader {
    display: none;
    width:200px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align:center;
    margin-left: -50px;
    margin-top: -100px;
    z-index: 1099;
    overflow: auto;
}

.ajax-loader img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1099;
}