.search-facet-actives {
    display: table;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 0;
    background: #f4f4f4;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 4px 4px 0 0;
    font-size: 14px
}

.search-facet-actives__inner {
    display: table-cell
}

.search-facet-actives__remove-all {
    display: table-cell;
    width: 140px;
    vertical-align: middle;
    text-align: right
}

.search-facet-actives__remove-all > a {
    padding: 10px;
    text-decoration: none;
    color: #777;
    font-size: 12px
}

.search-facet-actives__remove-all > a:hover {
    color: #333;
    text-decoration: none
}

.search-facet-actives__remove-all > a:active {
    color: #999
}

.search-facet-actives__remove-all > a > i {
    position: relative;
    top: -1px;
    font-size: 9px
}

.search-facet-actives__facet {
    float: left;
    display: table;
    line-height: 2.5;
    border-radius: 4px;
    padding-top: 6px;
    padding-right: 18px;
    padding-bottom: 6px
}

.search-facet-actives__facet:last-child {
    padding-right: 0
}

.search-facet-actives__facet-name {
    display: table-cell;
    padding-right: 5px;
    color: #777
}

.search-facet-actives__facet-values, .search-facet-actives__facet-values--categories {
    display: table-cell
}

.search-facet-actives__facet-values a, .search-facet-actives__facet-values--categories a {
    display: inline-block;
    padding-left: 8px;
    padding-right: 12px;
    border: 1px solid;
    color: #0084b4;
    border-radius: 4px;
    text-decoration: none
}

.search-facet-actives__facet-values a:hover, .search-facet-actives__facet-values--categories a:hover {
    background: #fff
}

.search-facet-actives__facet-values a:active, .search-facet-actives__facet-values--categories a:active {
    background: #f4f4f4;
    color: #00719b
}

.search-facet-actives__facet-values i, .search-facet-actives__facet-values--categories i {
    position: relative;
    display: inline-block;
    top: -1px;
    left: 4px;
    font-size: 8px
}

.search-facet-actives__facet-values--categories a {
    display: table-cell;
    border-radius: 0;
    border-width: 1px 0
}

.search-facet-actives__facet-values--categories a:first-child {
    border-left-width: 1px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.search-facet-actives__facet-values--categories a:nth-of-type(n+2) {
    position: relative;
    padding-left: 18px
}

.search-facet-actives__facet-values--categories a:nth-of-type(n+2):after, .search-facet-actives__facet-values--categories a:nth-of-type(n+2):before {
    position: absolute;
    left: -2px;
    top: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    pointer-events: none
}

.search-facet-actives__facet-values--categories a:nth-of-type(n+2):before {
    border-left-color: #0084b4;
    border-width: 17px 17px 17px 11px;
    margin-top: -17px
}

.search-facet-actives__facet-values--categories a:nth-of-type(n+2):after {
    border-left-color: #f5f5f5;
    border-width: 16px 16px 16px 10px;
    margin-top: -16px
}

.search-facet-actives__facet-values--categories a:last-child {
    border-right-width: 1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.search-facet-actives__facet-values--categories a:hover + a:after {
    border-left-color: #fff
}

.search-facet-actives__facet-values--categories a:active + a:before {
    border-left-color: #00719b
}

.search-facet-actives__facet-values--categories a:active + a:after {
    border-left-color: #f4f4f4
}

.search-facet-actives__facet-values .search-facet-actives__show-more, .search-facet-actives__facet-values--categories .search-facet-actives__show-more {
    padding-right: 8px;
    border: 1px solid #999;
    color: #999
}

.search-facet, .search-facet--no-margin {
    margin-bottom: 30px;
    position: relative
}

.search-facet--no-margin {
    margin-bottom: 0
}

.search-facet-header > h2, .search-facet-header--inline-select > h2 {
    font-size: 14px;
    line-height: normal;
    font-weight: bold;
    padding: 0 0 10px;
    color: #444
}

.search-facet-header > h2 > i, .search-facet-header--inline-select > h2 > i {
    display: inline-block;
    font-size: 13px
}

.search-facet-header--inline-select {
    position: relative
}

.search-facet-header--inline-select > h2 {
    display: inline-block;
    pointer-events: none;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1
}

.search-facet-header--inline-select > h2 > span {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.search-facet-result-count {
    color: #bbb;
    font-size: 12px
}

.search-facet-boolean {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    -webkit-align-items: baseline;
    -moz-align-items: baseline;
    align-items: baseline;
    padding: 10px;
    background: #eee;
    border-radius: 4px;
    color: #666
}

.search-facet-boolean:hover {
    background: #e8e8e8;
    cursor: pointer
}

.search-facet-boolean > input {
    position: relative;
    top: 1px;
    margin-right: 10px
}

.search-facet-boolean > span {
    font-size: 14px;
    display: inline-block
}

.no-flexbox .search-facet-boolean {
    display: inline-block;
    width: 100%
}

.search-facet-boolean__label {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-flex-basis: 1%;
    -ms-flex-preferred-size: 1%;
    flex-basis: 1%;
    overflow: hidden;
    white-space: nowrap
}

.search-facet-boolean__label:before {
    content: "";
    position: absolute;
    background: -webkit-gradient(linear, left top, right top, color-stop(85%, rgba(244, 244, 244, 0)), color-stop(90%, rgba(244, 244, 244, 0.7)), to(#f4f4f4));
    background: -webkit-linear-gradient(left, rgba(244, 244, 244, 0) 85%, rgba(244, 244, 244, 0.7) 90%, #f4f4f4 100%);
    background: linear-gradient(to right, rgba(244, 244, 244, 0) 85%, rgba(244, 244, 244, 0.7) 90%, #f4f4f4 100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10
}

.search-facet-boolean:hover .search-facet-boolean__label:before {
    background: -webkit-gradient(linear, left top, right top, color-stop(85%, rgba(232, 232, 232, 0)), color-stop(90%, rgba(232, 232, 232, 0.7)), to(#e8e8e8));
    background: -webkit-linear-gradient(left, rgba(232, 232, 232, 0) 85%, rgba(232, 232, 232, 0.7) 90%, #e8e8e8 100%);
    background: linear-gradient(to right, rgba(232, 232, 232, 0) 85%, rgba(232, 232, 232, 0.7) 90%, #e8e8e8 100%)
}

.search-facet-categories {
    overflow: hidden;
    background: #f4f4f4;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1.8
}

.search-facet-categories, .search-facet-categories ul {
    list-style: none
}

.search-facet-categories__item-no-results, .search-facet-categories__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    -webkit-align-items: baseline;
    -moz-align-items: baseline;
    align-items: baseline;
    color: #bbb;
    padding-top: 4px;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-left: 10px
}

.search-facet-categories__item-no-results > span, .search-facet-categories__link > span {
    display: inline-block
}

.search-facet-categories__item-no-results > span:last-child, .search-facet-categories__link > span:last-child {
    padding-left: 7px
}

li:last-child .search-facet-categories__item-no-results, li:last-child .search-facet-categories__link {
    padding-bottom: 10px
}

.search-facet-categories__link {
    text-decoration: none;
    color: #444
}

.search-facet-categories__link:hover, .search-facet-categories__link:focus {
    background-color: #e5e5e5
}

li:last-child .search-facet-categories__link {
    padding-bottom: 4px
}

.search-facet-categories__label {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-flex-basis: 1%;
    -ms-flex-preferred-size: 1%;
    flex-basis: 1%;
    overflow: hidden;
    white-space: nowrap
}

.search-facet-categories__label:before {
    content: "";
    position: absolute;
    background: -webkit-gradient(linear, left top, right top, color-stop(85%, rgba(244, 244, 244, 0)), color-stop(90%, rgba(244, 244, 244, 0.7)), to(#f4f4f4));
    background: -webkit-linear-gradient(left, rgba(244, 244, 244, 0) 85%, rgba(244, 244, 244, 0.7) 90%, #f4f4f4 100%);
    background: linear-gradient(to right, rgba(244, 244, 244, 0) 85%, rgba(244, 244, 244, 0.7) 90%, #f4f4f4 100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10
}

.search-facet-categories__link:hover .search-facet-categories__label:before {
    background: -webkit-gradient(linear, left top, right top, color-stop(85%, rgba(229, 229, 229, 0)), color-stop(90%, rgba(229, 229, 229, 0.7)), to(#e5e5e5));
    background: -webkit-linear-gradient(left, rgba(229, 229, 229, 0) 85%, rgba(229, 229, 229, 0.7) 90%, #e5e5e5 100%);
    background: linear-gradient(to right, rgba(229, 229, 229, 0) 85%, rgba(229, 229, 229, 0.7) 90%, #e5e5e5 100%)
}

.search-facet-categories__label.is-active {
    font-weight: bold
}

.search-facet-categories__parent > a {
    position: relative;
    border-bottom: 1px solid #bbb;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 0;
    padding-bottom: 10px
}

.search-facet-categories__parent > a > span {
    padding-right: 10px
}

.search-facet-categories__selected > a {
    font-weight: bold;
    padding: 10px
}

.search-facet-categories__selected ~ li > a, .search-facet-categories__selected ~ li > div {
    padding-left: 20px
}

.search-facet-categories__selected.is-penultimate-level > a {
    font-weight: normal
}

.search-facet-categories__selected.is-final-level > a {
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px
}

.search-facet-colours__link {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    -webkit-align-items: baseline;
    -moz-align-items: baseline;
    align-items: baseline;
    color: #444;
    padding: 0 10px 0 20px;
    text-decoration: none
}

.search-facet-colours__link:hover {
    text-decoration: none
}

.search-facet-colours__link > span {
    display: inline-block
}

.search-facet-colours__link:before {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 10px;
    height: 33px;
    top: 0;
    left: 0
}

.search-facet-colours__link.-color-black:before {
    background-color: #000
}

.search-facet-colours__link.-color-blue:before {
    background-color: #2d75ed
}

.search-facet-colours__link.-color-brown:before {
    background-color: #885418
}

.search-facet-colours__link.-color-green:before {
    background-color: #178e0e
}

.search-facet-colours__link.-color-grey:before {
    background-color: #999
}

.search-facet-colours__link.-color-orange:before {
    background-color: #f39c12
}

.search-facet-colours__link.-color-pink:before {
    background-color: #ff98bf
}

.search-facet-colours__link.-color-purple:before {
    background-color: #703593
}

.search-facet-colours__link.-color-red:before {
    background-color: #df2c2c
}

.search-facet-colours__link.-color-teal:before {
    background-color: #1abc9c
}

.search-facet-colours__link.-color-yellow:before {
    background-color: #f0ca39
}

.search-facet-divider {
    display: block;
    background-color: #bbb;
    border: 1px solid #e5e5e5;
    border-width: 0 0 1px;
    height: 1px;
    margin-top: 50px;
    margin-bottom: 40px
}

.group-select {
    position: relative;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    background: #f5f5f5
}

.group-select:after, .group-select:before {
    content: "";
    pointer-events: none;
    position: absolute;
    right: 10px
}

.group-select:before {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #666;
    border-top: none;
    height: 0;
    width: 0;
    top: 33%
}

.group-select:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #666;
    border-bottom: none;
    height: 0;
    width: 0;
    top: 53%
}

.group-select > select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0 25px 0 30px;
    background: none;
    border: 0;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 38px;
    line-height: 38px;
    color: #666;
    -webkit-appearance: none
}

.group-select > select::-ms-expand {
    display: none
}

.group-select > select:focus {
    outline: -webkit-focus-ring-color auto 2px
}

.group-select.-border-radius-top {
    border-radius: 4px 4px 0 0
}

.group-select.-border-radius-bottom {
    border-radius: 0 0 4px 4px
}

.group-select.-border-radius-none {
    border-radius: 0
}

.group-select.-border-top-none {
    border-top: 0
}

@-moz-document url-prefix() {
    .group-select:after, .group-select:before, .group-select.-arrows-double:after, .group-select.-arrows-double:before {
        border: 0
    }
    .group-select > select {
        height: auto;
        line-height: auto;
        padding-top: 8px;
        padding-bottom: 8px
    }
}

.search-header {
    padding: 20px 0 0
}

.fixed-layout .search-header {
    padding: 20px 0 0
}

.search-header__results-count {
    padding: 20px 0;
    border-radius: 4px 4px 0 0;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center
}

.search-header__results-count h1 {
    display: inline;
    color: #fff;
    font-size: 18px;
    line-height: 0
}

.search-header__extras {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    max-width: 492px;
    padding: 5px 0 10px
}

.search-header__extras p:not(:first-child) {
    padding-top: 0
}

.search-header__extras a {
    color: #eee;
    font-weight: bold
}

.is-search-loading {
    cursor: progress
}

.search-facet-multi-select {
    list-style-type: none;
    overflow: hidden;
    background: #f4f4f4;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 14px;
    line-height: 2.4
}

.search-facet-multi-select__option:hover {
    background: #e8e8e8
}

.search-facet-multi-select__option.is-active {
    background: #e0e0e0
}

.search-facet-multi-select__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    -webkit-align-items: baseline;
    -moz-align-items: baseline;
    align-items: baseline;
    color: #444;
    padding: 0 10px;
    text-decoration: none
}

.search-facet-multi-select__link:hover {
    text-decoration: none
}

.search-facet-multi-select__link > span {
    display: inline-block
}

.search-facet-multi-select__label {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-flex-basis: 1%;
    -ms-flex-preferred-size: 1%;
    flex-basis: 1%;
    overflow: hidden;
    white-space: nowrap;
    line-height: normal
}

.search-facet-multi-select__label:before {
    content: "";
    position: absolute;
    background: -webkit-gradient(linear, left top, right top, color-stop(85%, rgba(244, 244, 244, 0)), color-stop(90%, rgba(244, 244, 244, 0.7)), to(#f4f4f4));
    background: -webkit-linear-gradient(left, rgba(244, 244, 244, 0) 85%, rgba(244, 244, 244, 0.7) 90%, #f4f4f4 100%);
    background: linear-gradient(to right, rgba(244, 244, 244, 0) 85%, rgba(244, 244, 244, 0.7) 90%, #f4f4f4 100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10
}

.search-facet-multi-select__option:hover .search-facet-multi-select__label:before {
    background: -webkit-gradient(linear, left top, right top, color-stop(85%, rgba(232, 232, 232, 0)), color-stop(90%, rgba(232, 232, 232, 0.7)), to(#e8e8e8));
    background: -webkit-linear-gradient(left, rgba(232, 232, 232, 0) 85%, rgba(232, 232, 232, 0.7) 90%, #e8e8e8 100%);
    background: linear-gradient(to right, rgba(232, 232, 232, 0) 85%, rgba(232, 232, 232, 0.7) 90%, #e8e8e8 100%)
}

.search-facet-multi-select__label.is-active {
    font-weight: bold
}

.search-facet-multi-select__label.is-active:before {
    background: -webkit-gradient(linear, left top, right top, color-stop(85%, rgba(224, 224, 224, 0)), color-stop(90%, rgba(224, 224, 224, 0.7)), to(#e0e0e0));
    background: -webkit-linear-gradient(left, rgba(224, 224, 224, 0) 85%, rgba(224, 224, 224, 0.7) 90%, #e0e0e0 100%);
    background: linear-gradient(to right, rgba(224, 224, 224, 0) 85%, rgba(224, 224, 224, 0.7) 90%, #e0e0e0 100%)
}

.search-facet-multi-select__option:hover .search-facet-multi-select__label.is-active:before {
    background: -webkit-gradient(linear, left top, right top, color-stop(85%, rgba(224, 224, 224, 0)), color-stop(90%, rgba(224, 224, 224, 0.7)), to(#e0e0e0));
    background: -webkit-linear-gradient(left, rgba(224, 224, 224, 0) 85%, rgba(224, 224, 224, 0.7) 90%, #e0e0e0 100%);
    background: linear-gradient(to right, rgba(224, 224, 224, 0) 85%, rgba(224, 224, 224, 0.7) 90%, #e0e0e0 100%)
}

.search-facet-multi-select__end {
    padding-left: 7px
}

.search-facet-multi-select__end > i {
    color: #cbcbcb;
    font-size: 10px;
    position: relative;
    top: -1px
}

.search-facet-multi-select__option:hover .search-facet-multi-select__end > i {
    color: #bbb
}

.search-no-results i {
    font-size: 100px;
    float: left;
    margin-right: 10px
}

.search-no-results h2 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 2.4em;
    padding: 0 0 5px
}

.search-no-results p {
    padding: 0
}

.search-no-results a {
    color: #0084b4;
    text-decoration: none
}

.search-no-results a:hover, .search-no-results a:focus {
    text-decoration: underline
}

.search-facet-panel__header, .search-facet-panel__header--start, .search-facet-panel__header--end, .search-facet-panel__header--one-facet {
    padding: 15px 0 5px;
    border: 0
}

.js .search-facet-panel__header, .js .search-facet-panel__header--start, .js .search-facet-panel__header--end, .js .search-facet-panel__header--one-facet {
    background: #eee;
    border: 1px solid #cbcbcb;
    border-top-width: 0;
    padding: 15px 10px
}

.js .search-facet-panel__header:hover, .js .search-facet-panel__header--start:hover, .js .search-facet-panel__header--end:hover, .js .search-facet-panel__header--one-facet:hover {
    cursor: pointer;
    background-color: #e5e5e5
}

.js .search-facet-panel__header.is-active, .js .is-active.search-facet-panel__header--start, .js .is-active.search-facet-panel__header--end, .js .is-active.search-facet-panel__header--one-facet {
    background: #eee;
    position: relative;
    z-index: 5;
    width: 202px;
    border-right-width: 0
}

.js .search-facet-panel__header.is-active:before, .js .is-active.search-facet-panel__header--start:before, .js .is-active.search-facet-panel__header--end:before, .js .is-active.search-facet-panel__header--one-facet:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #cbcbcb;
    border-right-width: 0
}

.search-facet-panel__header > h2, .search-facet-panel__header--start > h2, .search-facet-panel__header--end > h2, .search-facet-panel__header--one-facet > h2 {
    font-size: 14px;
    line-height: normal;
    font-weight: bold;
    color: #444
}

.js .search-facet-panel__header > h2, .js .search-facet-panel__header--start > h2, .js .search-facet-panel__header--end > h2, .js .search-facet-panel__header--one-facet > h2 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.search-facet-panel__header > h2 > i, .search-facet-panel__header--start > h2 > i, .search-facet-panel__header--end > h2 > i, .search-facet-panel__header--one-facet > h2 > i {
    display: inline-block;
    font-size: 13px
}

.js .search-facet-panel__header--start {
    border-top-width: 1px;
    border-radius: 5px 5px 0 0
}

.js .search-facet-panel__header--start.is-active {
    border-radius: 5px 0 0 0
}

.js .search-facet-panel__header--start.is-active:before {
    border-radius: 5px 0 0 0
}

.js .search-facet-panel__header--end {
    border-radius: 0 0 5px 5px
}

.js .search-facet-panel__header--end.is-active {
    border-radius: 0 0 0 5px
}

.js .search-facet-panel__header--end.is-active:before {
    border-radius: 0 0 0 5px
}

.js .search-facet-panel__header--one-facet {
    border-radius: 5px
}

.js .search-facet-panel__header--one-facet.is-active {
    border-radius: 5px 0 0 5px
}

.js .search-facet-panel__header--one-facet.is-active:before {
    border-radius: 5px 0 0 5px
}

.search-facet-panel__status {
    width: 178px
}

.search-facet-panel__status-row {
    margin-top: 10px;
    color: #bbb;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    -webkit-align-items: baseline;
    -moz-align-items: baseline;
    align-items: baseline
}

.js .search-facet-panel__status-row {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.search-facet-panel__status-title {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-flex-basis: 1%;
    -ms-flex-preferred-size: 1%;
    flex-basis: 1%;
    overflow: hidden;
    white-space: nowrap
}

.search-facet-panel__status-title:before {
    content: "";
    position: absolute;
    background: -webkit-gradient(linear, left top, right top, color-stop(85%, rgba(244, 244, 244, 0)), color-stop(90%, rgba(244, 244, 244, 0.7)), to(#f4f4f4));
    background: -webkit-linear-gradient(left, rgba(244, 244, 244, 0) 85%, rgba(244, 244, 244, 0.7) 90%, #f4f4f4 100%);
    background: linear-gradient(to right, rgba(244, 244, 244, 0) 85%, rgba(244, 244, 244, 0.7) 90%, #f4f4f4 100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10
}

.search-facet-panel__header:hover .search-facet-panel__status-title:before, .search-facet-panel__header--start:hover .search-facet-panel__status-title:before, .search-facet-panel__header--end:hover .search-facet-panel__status-title:before, .search-facet-panel__header--one-facet:hover .search-facet-panel__status-title:before {
    background: -webkit-gradient(linear, left top, right top, color-stop(85%, rgba(229, 229, 229, 0)), color-stop(90%, rgba(229, 229, 229, 0.7)), to(#e5e5e5));
    background: -webkit-linear-gradient(left, rgba(229, 229, 229, 0) 85%, rgba(229, 229, 229, 0.7) 90%, #e5e5e5 100%);
    background: linear-gradient(to right, rgba(229, 229, 229, 0) 85%, rgba(229, 229, 229, 0.7) 90%, #e5e5e5 100%)
}

.search-facet-panel__header.is-active:hover .search-facet-panel__status-title:before, .is-active.search-facet-panel__header--start:hover .search-facet-panel__status-title:before, .is-active.search-facet-panel__header--end:hover .search-facet-panel__status-title:before, .is-active.search-facet-panel__header--one-facet:hover .search-facet-panel__status-title:before {
    background: -webkit-gradient(linear, left top, right top, color-stop(85%, rgba(238, 238, 238, 0)), color-stop(90%, rgba(238, 238, 238, 0.7)), to(#eeeeee));
    background: -webkit-linear-gradient(left, rgba(238, 238, 238, 0) 85%, rgba(238, 238, 238, 0.7) 90%, #eeeeee 100%);
    background: linear-gradient(to right, rgba(238, 238, 238, 0) 85%, rgba(238, 238, 238, 0.7) 90%, #eeeeee 100%)
}

.search-facet-panel__status-result-count {
    display: inline-block
}

.js .search-facet-panel__body {
    background: #eee;
    border: 2px solid #c5c5c5;
    border-radius: 4px;
    width: 220px;
    padding: 30px;
    position: absolute;
    top: -10px;
    left: 200px;
    z-index: 1
}

.search-facet-range__inputs:after {
    content: "";
    display: table;
    clear: both
}

.search-facet-range__input, .search-facet-range__input--with-prefix, .search-facet-range__input--single, .search-facet-range__input--submit {
    float: left;
    margin-right: 4%;
    width: 36%
}

.search-facet-range__input > label, .search-facet-range__input--with-prefix > label, .search-facet-range__input--single > label, .search-facet-range__input--submit > label {
    color: #999;
    font-size: 14px
}

.search-facet-range__input > input, .search-facet-range__input--with-prefix > input, .search-facet-range__input--single > input, .search-facet-range__input--submit > input, .search-facet-range__input > button, .search-facet-range__input--with-prefix > button, .search-facet-range__input--single > button, .search-facet-range__input--submit > button {
    display: block;
    height: 35px;
    margin-bottom: 10px;
    width: 100%;
    padding-right: 3px
}

.search-facet-range__input > input::-webkit-input-placeholder, .search-facet-range__input--with-prefix > input::-webkit-input-placeholder, .search-facet-range__input--single > input::-webkit-input-placeholder, .search-facet-range__input--submit > input::-webkit-input-placeholder, .search-facet-range__input > button::-webkit-input-placeholder, .search-facet-range__input--with-prefix > button::-webkit-input-placeholder, .search-facet-range__input--single > button::-webkit-input-placeholder, .search-facet-range__input--submit > button::-webkit-input-placeholder {
    color: #bbb
}

.search-facet-range__input > input::-moz-placeholder, .search-facet-range__input--with-prefix > input::-moz-placeholder, .search-facet-range__input--single > input::-moz-placeholder, .search-facet-range__input--submit > input::-moz-placeholder, .search-facet-range__input > button::-moz-placeholder, .search-facet-range__input--with-prefix > button::-moz-placeholder, .search-facet-range__input--single > button::-moz-placeholder, .search-facet-range__input--submit > button::-moz-placeholder {
    color: #bbb
}

.search-facet-range__input > input:-ms-input-placeholder, .search-facet-range__input--with-prefix > input:-ms-input-placeholder, .search-facet-range__input--single > input:-ms-input-placeholder, .search-facet-range__input--submit > input:-ms-input-placeholder, .search-facet-range__input > button:-ms-input-placeholder, .search-facet-range__input--with-prefix > button:-ms-input-placeholder, .search-facet-range__input--single > button:-ms-input-placeholder, .search-facet-range__input--submit > button:-ms-input-placeholder {
    color: #bbb
}

.search-facet-range__input > input::placeholder, .search-facet-range__input--with-prefix > input::placeholder, .search-facet-range__input--single > input::placeholder, .search-facet-range__input--submit > input::placeholder, .search-facet-range__input > button::placeholder, .search-facet-range__input--with-prefix > button::placeholder, .search-facet-range__input--single > button::placeholder, .search-facet-range__input--submit > button::placeholder {
    color: #bbb
}

.search-facet-range__input > input, .search-facet-range__input--with-prefix > input, .search-facet-range__input--single > input, .search-facet-range__input--submit > input {
    border: 1px solid #bbb;
    border-radius: 5px;
    padding: 5px 0 6px 8px;
    line-height: 18px;
    color: #7e7e7e
}

.search-facet-range__input--with-prefix {
    position: relative
}

.search-facet-range__input--with-prefix > span {
    bottom: 16px;
    color: #bbb;
    left: 7px;
    pointer-events: none;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1
}

.search-facet-range__input--with-prefix > input {
    padding-left: 18px
}

.search-facet-range__input--single {
    width: 76%
}

.search-facet-range__input--submit {
    width: 20%;
    margin-right: 0
}

.search-facet-range__input--submit > button {
    color: #e0e0e0;
    margin-bottom: 0
}

.search-facet-range__input--submit > button.no-label {
    margin-top: 24px
}

.search-facet-toggle {
    display: block;
    position: relative;
    top: -2px;
    text-align: center
}

.search-facet-toggle:before {
    content: "";
    position: absolute;
    z-index: 10;
    top: -25px;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 25px;
    background: -webkit-linear-gradient(90deg, rgba(212, 212, 212, 0.7) 0%, rgba(212, 212, 212, 0));
    background: linear-gradient(0deg, rgba(212, 212, 212, 0.7) 0%, rgba(212, 212, 212, 0))
}

.search-facet-toggle.is-expanded:before {
    content: none
}

.search-facet-toggle__link {
    display: block;
    padding: 5px 0;
    background: #eee;
    border: 1px solid #cbcbcb;
    border-radius: 0 0 5px 5px;
    color: #666;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px
}

.search-facet-toggle__link:hover {
    background: #f4f4f4;
    color: #444;
    text-decoration: none
}

.search-facet-toggle__link > span:first-child {
    display: block;
    padding-bottom: 3px
}

.search-facet-toggle__link > span:last-child {
    display: none
}

.search-facet-toggle__link.is-expanded > span:first-child {
    display: none
}

.search-facet-toggle__link.is-expanded > span:last-child {
    display: block
}

.audio-player-mini__container > .audio-player-mini--is-paused, .audio-player-mini__container > .audio-player-mini--is-playing {
    position: absolute;
    left: 0;
    bottom: 5px;
    z-index: 2;
    display: block;
    width: 75px;
    height: 21px;
    padding: 0 5px
}

.audio-player-mini__container {
    position: relative
}

.audio-player-mini__container img {
    display: block
}

.audio-player-mini__container > .audio-player-mini--is-paused {
    background-image: url(//dmypbau5frl9g.cloudfront.net/assets/generated_sprites/common-9a18203823f17a5fe8dd8df4b2f45b37.png);
    background-position: -94px -41px
}

.audio-player-mini__container > .audio-player-mini--is-playing {
    background-image: url(//dmypbau5frl9g.cloudfront.net/assets/generated_sprites/common-9a18203823f17a5fe8dd8df4b2f45b37.png);
    background-position: -94px 0px
}

.author-search-result img {
    -webkit-box-shadow: 0 0 1px #fff;
    box-shadow: 0 0 1px #fff;
    vertical-align: middle;
    margin: 0 7px 0 10px
}

.author-search-result a {
    text-decoration: none
}

.author-search-result a:hover, .author-search-result a:focus {
    text-decoration: underline
}

.box {
    background-color: #fbfbfb;
    color: #666;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #e1e8ed
}

.box:after {
    content: "";
    display: table;
    clear: both
}

.box--highlight-yellow, .box--highlight-green {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #e1e8ed
}

.box--highlight-yellow:after, .box--highlight-green:after {
    content: "";
    display: table;
    clear: both
}

.box--highlight-yellow {
    background-color: #f5f5b4;
    color: #444
}

.box--highlight-green {
    background-color: #f2fcf0;
    color: #444
}

.box--no-padding {
    background-color: #fbfbfb;
    color: #666;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #e1e8ed
}

.box--no-padding:after {
    content: "";
    display: table;
    clear: both
}

.box__heading, .box__heading--collapsible {
    color: #666;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0
}

.box__heading--collapsible {
    cursor: pointer
}

.box__heading--collapsible:after {
    font-family: marketplace-glyphs;
    font-style: normal;
    font-weight: normal;
    speak: none;
    text-align: center;
    width: 1em;
    content: "\f105";
    float: right
}

.box__heading--collapsible.is-open:after {
    content: "\f102"
}

.box__dismisser {
    font-weight: bold;
    float: right
}

.box--hard {
    background-color: #fbfbfb;
    color: #666;
    padding: 15px
}

.box--hard-bottom {
    background-color: #fbfbfb;
    color: #666;
    padding: 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}

.box--hard-top {
    background-color: #fbfbfb;
    color: #666;
    margin-bottom: 20px;
    padding: 15px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #e1e8ed
}

.box--topbar, .box--topbar--envato-studio {
    background-color: #444;
    color: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 10px
}

.box--topbar > h2, .box--topbar--envato-studio > h2 {
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    padding: 0
}

.box--topbar--envato-studio {
    background: #0084b4
}

.box--bottom-section {
    background-color: #fbfbfb;
    color: #666;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #e1e8ed;
    margin-bottom: 20px;
    padding: 15px;
    margin-top: 1px
}

.box--topbar__beta {
    margin-left: 5px
}

.box--grouped {
    background-color: #fbfbfb;
    color: #666;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #e1e8ed;
    margin-bottom: 10px
}

.callout-message, .callout-message--padded {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    padding: 30px;
    margin-bottom: 30px;
    background-color: #f5f5f5;
    font-size: 14px;
    line-height: 20px;
    color: #7e7e7e;
    border-radius: 4px
}

.callout-message > h3, .callout-message--padded > h3 {
    font-size: 22px;
    padding: 0 0 10px
}

.callout-message > h3:last-child, .callout-message--padded > h3:last-child {
    padding-bottom: 0
}

.callout-message--padded {
    padding-top: 40px;
    padding-bottom: 40px
}

.callout-message__actions, .callout-message__actions--condensed {
    margin: 20px 0
}

.callout-message__actions:after, .callout-message__actions--condensed:after {
    content: "";
    display: table;
    clear: both
}

.callout-message__actions:last-child, .callout-message__actions--condensed:last-child {
    margin-bottom: 0
}

.callout-message__actions--condensed {
    margin-top: 0
}

.callout-message__action-box, .callout-message__action-box--small {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #eee;
    padding: 5% 6%;
    border-radius: 5px;
    text-align: center
}

.callout-message__action-box > h4, .callout-message__action-box--small > h4 {
    padding: 0 0 10px;
    text-align: center
}

.callout-message__action-box > h3, .callout-message__action-box--small > h3 {
    padding: 0 0 20px;
    text-align: center
}

.callout-message__action-box > p, .callout-message__action-box--small > p {
    font-size: 12px;
    line-height: 16px;
    color: #7e7e7e
}

.callout-message__action-box > ol, .callout-message__action-box--small > ol {
    list-style-type: decimal;
    padding-left: 25px
}

.callout-message__action-box li, .callout-message__action-box--small li {
    margin-bottom: 10px;
    text-align: left
}

.callout-message__action-box li:last-child, .callout-message__action-box--small li:last-child {
    margin-bottom: 0
}

.callout-message__action-box form, .callout-message__action-box--small form {
    text-align: center
}

.fixed-layout .callout-message__action-box--small {
    width: 47.95918%;
    float: left;
    margin-right: 4.08163%
}

.fixed-layout .callout-message__action-box--small:nth-child(2n) {
    float: right;
    margin-right: 0
}

.callout-message__call-to-action {
    margin: 15px 0 10px
}

code, pre {
    color: #333;
    font: 11px Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
    white-space: pre-wrap;
    word-wrap: break-word
}

pre {
    background-color: #f4f4f4;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #f4f4f4), color-stop(50%, #e5e5e5));
    background-image: -webkit-linear-gradient(#f4f4f4 50%, #e5e5e5 50%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #f4f4f4), color-stop(50%, #e5e5e5));
    background-image: -webkit-linear-gradient(#f4f4f4 50%, #e5e5e5 50%);
    background-image: linear-gradient(#f4f4f4 50%, #e5e5e5 50%);
    -webkit-background-size: 38px 38px;
    background-size: 38px 38px;
    border: 1px solid #c5c5c5;
    display: block;
    line-height: 19px;
    margin-bottom: 10px;
    overflow: visible;
    overflow-y: hidden;
    padding: 0 0 0 4px
}

.collection-form {
    margin-bottom: 5px
}

.collection-form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block
}

.collection-form__reveal.is-collapsed {
    display: none
}

.collection-form__input {
    margin: 15px 0 0
}

.collection-form__input:first-of-type {
    margin-top: 0
}

.collection-form__input input[type='text'], .collection-form__input textarea {
    width: 100%
}

.collection-form__input input[type='text'].placeholder, .collection-form__input textarea.placeholder {
    color: #bbb
}

.collection-form__input input[type='text']:-moz-placeholder, .collection-form__input textarea:-moz-placeholder {
    color: #bbb
}

.collection-form__input input[type='text']::-moz-placeholder, .collection-form__input textarea::-moz-placeholder {
    color: #bbb
}

.collection-form__input input[type='text']:-ms-input-placeholder, .collection-form__input textarea:-ms-input-placeholder {
    color: #bbb
}

.collection-form__input input[type='text']::-webkit-input-placeholder, .collection-form__input textarea::-webkit-input-placeholder {
    color: #bbb
}

.collection-form__input input[type='text']:focus.placeholder, .collection-form__input textarea:focus.placeholder {
    color: transparent
}

.collection-form__input input[type='text']:focus:-moz-placeholder, .collection-form__input textarea:focus:-moz-placeholder {
    color: transparent
}

.collection-form__input input[type='text']:focus::-moz-placeholder, .collection-form__input textarea:focus::-moz-placeholder {
    color: transparent
}

.collection-form__input input[type='text']:focus:-ms-input-placeholder, .collection-form__input textarea:focus:-ms-input-placeholder {
    color: transparent
}

.collection-form__input input[type='text']:focus::-webkit-input-placeholder, .collection-form__input textarea:focus::-webkit-input-placeholder {
    color: transparent
}

.collection-form__error {
    display: block;
    color: #fff;
    font-size: 13px;
    line-height: 18px;
    background: #c24242;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px
}

.collection-form__radios {
    margin-top: 15px
}

.collection-form__radios input {
    margin-right: 5px
}

.collection-form__radios label {
    margin: 0 15px 0 0;
    color: #666;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal
}

.collection-form__radios a {
    text-decoration: none;
    font-size: 11px;
    margin-left: 0;
    color: #777
}

.collection-form__radios a:hover, .collection-form__radios a:focus {
    text-decoration: underline
}

.collection-form__file {
    margin-top: 5px;
    overflow: auto
}

.collection-form__file-upload {
    float: left
}

.collection-form__file-upload > input {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.collection-form__file-upload > label {
    margin-right: 10px;
    white-space: nowrap
}

.collection-form__file-name {
    float: left;
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 30px
}

.collection-form__file-hint {
    display: block;
    color: #777;
    margin-top: 10px
}

.collection-form__actions {
    margin-top: 10px
}

.collection-form__actions > a {
    color: #bbb;
    margin-left: 15px;
    text-decoration: none
}

.collection-form__actions > a:hover, .collection-form__actions > a:focus {
    text-decoration: underline
}

.collection-form__share-link {
    margin-bottom: 20px
}

.collection-form__share-link > input {
    width: 100%;
    padding-right: 8px
}

.fixed-layout .sidebar-s {
    float: left;
    margin-right: 18px;
    width: 200px
}

.fixed-layout .sidebar-l {
    float: left;
    margin-right: 18px;
    width: 350px
}

.fixed-layout .sidebar-right {
    float: right;
    margin-left: 18px;
    margin-right: 0
}

.fixed-layout .content-s {
    float: left;
    width: 616px
}

.fixed-layout .content-l {
    float: left;
    width: 766px
}

.fixed-layout .content-right {
    float: right
}

.cross-promos img {
    float: right
}

.cross-promos p {
    clear: both;
    padding: 10px 0px
}

.cross-promos p a {
    color: #0084b4;
    text-decoration: none
}

.cross-promos p a:hover, .cross-promos p a:focus {
    text-decoration: underline
}

.cross-promos__header, .cross-promos__header--with-logo {
    font-size: 22px;
    font-weight: normal;
    line-height: normal;
    color: #444;
    float: left;
    padding: 0;
    text-align: center;
    width: auto
}

.cross-promos__header--with-logo {
    float: left;
    text-align: left;
    width: 110px
}

.custom-icon--rss {
    color: #666;
    font-size: 18px
}

.envato-studio-promotion {
    border-top: 5px solid #1fb4da;
    background: #f5f5f5;
    border-radius: 4px;
    margin-bottom: 20px;
    text-align: center
}

.fixed-layout .envato-studio-promotion {
    line-height: 1.9;
    text-align: left
}

.envato-studio-promotion a {
    text-decoration: none
}

.envato-studio-promotion a:hover, .envato-studio-promotion a:focus {
    text-decoration: underline
}

.envato-studio-promotion__header {
    padding: 10px 20px 0 20px;
    color: #999;
    font-size: 15px
}

.envato-studio-promotion__body {
    padding: 12px 20px
}

.envato-studio-promotion__body:after {
    content: "";
    display: table;
    clear: both
}

.fixed-layout .envato-studio-promotion__column {
    width: 45%;
    float: left
}

.envato-studio-promotion__column:first-child {
    margin-bottom: 20px
}

.fixed-layout .envato-studio-promotion__column:first-child {
    margin: 0 10% 0 0
}

.envato-studio-promotion__column, .envato-studio-promotion__column h5 {
    color: #232323;
    font-size: 14px;
    line-height: 1.6;
    font-weight: bold;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none
}

.envato-studio-promotion__column h5 {
    padding: 0
}

.envato-studio-promotion__column a {
    color: #1fb4da;
    font-weight: normal
}

.envato-studio-promotion__column > ul {
    list-style: none
}

.envato-studio-promotion__column li {
    display: block
}

.envato-studio-promotion__footer {
    background-color: #eee;
    border-top: 1px solid #d4d4d4;
    border-radius: 0 0 4px 4px;
    padding: 7px 20px 8px
}

.envato-studio-promotion__footer:after {
    content: "";
    display: table;
    clear: both
}

.envato-studio-promotion__all-services {
    color: #232323;
    font-size: 14px;
    line-height: 1.6;
    float: left
}

.envato-studio-promotion__logo--envato-studio, .envato-studio-promotion__logo--envato {
    text-indent: -999em
}

.envato-studio-promotion__logo--envato-studio {
    background-image: url(//dmypbau5frl9g.cloudfront.net/assets/generated_sprites/logos-be55b74f1bd5c28ae3d49760a16b1902.png);
    background-position: -163px -392px;
    width: 167px;
    height: 21px;
    display: block;
    margin: 0 auto 15px
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .envato-studio-promotion__logo--envato-studio {
        background-image: url(//dmypbau5frl9g.cloudfront.net/assets/generated_sprites/logos_2x-3015c97b054997562b4070f220de8b91.png);
        -webkit-background-size: 574px 468px;
        background-size: 574px 468px;
        background-position: -163px -392px;
        height: 21px;
        width: 167px
    }
}

.fixed-layout .envato-studio-promotion__logo--envato-studio {
    float: left;
    margin: 0 15px 0 0;
    position: relative;
    left: -2px
}

.envato-studio-promotion__logo--envato {
    background-image: url(//dmypbau5frl9g.cloudfront.net/assets/generated_sprites/logos-be55b74f1bd5c28ae3d49760a16b1902.png);
    background-position: -435px -271px;
    width: 65px;
    height: 13px;
    float: right;
    position: relative;
    top: 4px
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .envato-studio-promotion__logo--envato {
        background-image: url(//dmypbau5frl9g.cloudfront.net/assets/generated_sprites/logos_2x-3015c97b054997562b4070f220de8b91.png);
        -webkit-background-size: 574px 468px;
        background-size: 574px 468px;
        background-position: -435px -271px;
        height: 13px;
        width: 65px
    }
}

.envato-tuts-promotion {
    width: 100%;
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 20px;
    overflow: hidden;
    margin-bottom: 10px
}

.envato-tuts-promotion__header {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    line-height: 1.25
}

.envato-tuts-promotion__column {
    float: left;
    height: 100%
}

.envato-tuts-promotion__column:first-child {
    width: 60%
}

.envato-tuts-promotion__column:last-child {
    width: 40%
}

.envato-tuts-promotion__column__content {
    text-align: center
}

.envato-tuts-promotion__column__content > img {
    display: block;
    margin: 10px 0 20px
}

.envato-tuts-promotion__column__content > img, .envato-tuts-promotion__column__content > a {
    margin-left: auto;
    margin-right: auto;
    color: #00948b
}

.item-thumbnail-actions, .item-thumbnail-actions--inverted-colours {
    position: relative;
    display: table;
    width: 80px;
    margin: 10px auto 0 auto
}

.item-thumbnail-actions .js-favorite-widget, .item-thumbnail-actions--inverted-colours .js-favorite-widget, .item-thumbnail-actions .js-collection-widget, .item-thumbnail-actions--inverted-colours .js-collection-widget {
    -webkit-transition: opacity, 2s;
    transition: opacity, 2s;
    opacity: 0
}

.item-thumbnail-actions .js-favorite-widget.is-initialized, .item-thumbnail-actions--inverted-colours .js-favorite-widget.is-initialized, .item-thumbnail-actions .js-collection-widget.is-initialized, .item-thumbnail-actions--inverted-colours .js-collection-widget.is-initialized {
    opacity: 1
}

.item-thumbnail-actions__list {
    display: table-row;
    list-style: none;
    margin: 0 auto;
    overflow: auto
}

.item-thumbnail-actions__list li:first-child a {
    border-radius: 4px 0 0 4px
}

.item-thumbnail-actions__list li:last-child a {
    border-radius: 0 4px 4px 0
}

.item-thumbnail-actions__control--preview, .item-thumbnail-actions__control--favorite, .item-thumbnail-actions__control--collection {
    display: table-cell;
    text-align: center;
    width: 1px
}

.item-thumbnail-actions__control--preview a, .item-thumbnail-actions__control--favorite a, .item-thumbnail-actions__control--collection a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    background: #fff;
    color: #d4d4d4;
    height: 25px;
    position: relative;
    overflow: hidden;
    text-decoration: none
}

.item-thumbnail-actions__control--preview a > span, .item-thumbnail-actions__control--favorite a > span, .item-thumbnail-actions__control--collection a > span {
    display: none
}

.item-thumbnail-actions__control--preview a:after, .item-thumbnail-actions__control--favorite a:after, .item-thumbnail-actions__control--collection a:after {
    font-family: marketplace-glyphs;
    font-style: normal;
    font-weight: normal;
    speak: none;
    text-align: center;
    width: 1em;
    display: block;
    width: 100%;
    height: 25px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 13px;
    line-height: 25px
}

.item-thumbnail-actions__control--preview a:hover, .item-thumbnail-actions__control--favorite a:hover, .item-thumbnail-actions__control--collection a:hover {
    color: #999;
    text-decoration: none
}

.item-thumbnail-actions__control--preview a.is-loading, .item-thumbnail-actions__control--favorite a.is-loading, .item-thumbnail-actions__control--collection a.is-loading {
    cursor: progress
}

.item-thumbnail-actions__control--preview a.is-active, .item-thumbnail-actions__control--favorite a.is-active, .item-thumbnail-actions__control--collection a.is-active {
    color: #95b833
}

.item-thumbnail-actions__control--preview a.is-error, .item-thumbnail-actions__control--favorite a.is-error, .item-thumbnail-actions__control--collection a.is-error {
    opacity: 0.5;
    cursor: not-allowed
}

.item-thumbnail-actions__control--preview a:after {
    content: "\f12d"
}

.item-thumbnail-actions__control--favorite a:after {
    content: "\f114"
}

.item-thumbnail-actions__control--collection a:after {
    content: "\f118"
}

.item-thumbnail-actions--inverted-colours .item-thumbnail-actions__control--preview a, .item-thumbnail-actions--inverted-colours .item-thumbnail-actions__control--favorite a, .item-thumbnail-actions--inverted-colours .item-thumbnail-actions__control--collection a {
    color: #fff;
    background-color: transparent
}

.item-thumbnail-actions--inverted-colours .item-thumbnail-actions__control--preview a:hover, .item-thumbnail-actions--inverted-colours .item-thumbnail-actions__control--preview a.is-active, .item-thumbnail-actions--inverted-colours .item-thumbnail-actions__control--favorite a:hover, .item-thumbnail-actions--inverted-colours .item-thumbnail-actions__control--favorite a.is-active, .item-thumbnail-actions--inverted-colours .item-thumbnail-actions__control--collection a:hover, .item-thumbnail-actions--inverted-colours .item-thumbnail-actions__control--collection a.is-active {
    color: #e0e0e0
}

.link--minor {
    color: #666;
    font-size: 12px;
    line-height: 1.5
}

.link--has-glyph:before {
    font-size: 10px;
    margin-right: 8px
}

.photo-grid, .item-grid, .item-list, .user-list {
    background: #f5f5f5;
    border: 1px solid #eee;
    border-radius: 4px;
    display: block;
    list-style: none;
    margin-bottom: 20px
}

.photo-grid:after, .item-grid:after, .item-list:after, .user-list:after {
    content: "";
    display: table;
    clear: both
}

.photo-grid.active-facets-present, .item-grid.active-facets-present, .item-list.active-facets-present, .user-list.active-facets-present {
    border-radius: 0 0 4px 4px
}

.sort-control {
    display: inline-block;
    text-align: left;
    margin-bottom: 20px
}

.fixed-layout .sort-control {
    margin-right: 10px
}

.sort-control-label {
    margin-right: 5px
}

.filter-control-container {
    clear: left;
    float: left
}

.item-list > li, .user-list > li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    position: relative;
    float: left;
    width: 100%
}

.item-list > li:after, .user-list > li:after {
    content: "";
    display: table;
    clear: both
}

.item-list > li:last-child, .user-list > li:last-child {
    border-bottom-width: 0
}

.item-list h3, .user-list h3 {
    font-size: 16px;
    font-weight: bold;
    padding: 0 0 5px
}

.item-list h3 a, .user-list h3 a {
    color: #000;
    text-decoration: none
}

.item-list h3 a:hover, .item-list h3 a:focus, .user-list h3 a:hover, .user-list h3 a:focus {
    text-decoration: underline
}

.item-list small, .user-list small {
    font-size: 11px
}

.item-list .thumbnail, .user-list .thumbnail {
    float: left;
    margin-right: 20px;
    min-height: 80px
}

.item-list .thumbnail a, .user-list .thumbnail a {
    display: block
}

.item-list .thumbnail img, .user-list .thumbnail img {
    display: block;
    max-width: 80px
}

.item-grid {
    line-height: normal;
    padding: 10px 12px 0
}

.item-grid > li {
    float: left;
    min-height: 150px;
    height: auto !important;
    padding-bottom: 10px;
    margin: 0 10px 15px 0;
    position: relative;
    text-align: center;
    width: 140px
}

.item-grid > li:nth-of-type(5n) {
    margin-right: 0
}

.item-grid > li:nth-of-type(5n+6):before {
    background: #e0e0e0;
    content: "";
    display: block;
    height: 1px;
    left: -12px;
    position: absolute;
    top: -15px;
    width: 764px
}

.item-grid .item-grid__thumb--detail {
    min-height: 166px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: auto !important
}

.item-grid h3 {
    padding: 0
}

.item-grid h3 a {
    color: #000;
    text-decoration: none;
    display: block;
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 140px
}

.item-grid h3:hover, .item-grid h3:focus {
    text-decoration: underline
}

.item-grid small {
    font-size: 11px
}

.item-grid .thumbnail {
    display: inline-block;
    min-height: 90px;
    width: 90px
}

.item-grid .thumbnail__inner {
    position: relative;
    display: inline-block;
    margin-top: 5px
}

.item-grid .thumbnail__inner a.audio-player-mini {
    border: none;
    margin-left: 5px
}

.item-grid .thumbnail__inner img {
    display: block
}

.item-grid .item-info {
    padding-top: 5px
}

.item-grid .sale-info, .item-grid .sale-info--search, .item-grid .sale-info--portfolio {
    height: 40px;
    display: table-cell;
    vertical-align: bottom;
    width: 140px
}

.item-grid .sale-info a, .item-grid .sale-info--search a, .item-grid .sale-info--portfolio a {
    color: #aaa;
    font-size: 11px
}

.item-grid .sale-info a:before, .item-grid .sale-info--search a:before, .item-grid .sale-info--portfolio a:before {
    background-image: url(//dmypbau5frl9g.cloudfront.net/assets/generated_sprites/common-9a18203823f17a5fe8dd8df4b2f45b37.png);
    background-position: -154px -97px;
    width: 14px;
    height: 14px;
    content: "";
    display: inline-block;
    position: relative;
    top: 3px;
    left: -5px
}

.item-grid .sale-info--search {
    height: 50px
}

.item-grid .sale-info--portfolio {
    vertical-align: top;
    display: block;
    margin-bottom: 5px
}

.item-grid .price {
    border-left: 1px solid #ccc;
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-left: 10px
}

.item-grid .author, .item-grid .meta {
    display: none
}

.item-grid .photo {
    height: 200px
}

.item-grid .photo .thumbnail {
    height: 130px;
    display: table-cell;
    vertical-align: bottom;
    width: 140px
}

.item-grid .photo .thumbnail--has-actions {
    height: 170px
}

.item-grid.mixed > li {
    height: 200px
}

.item-grid.mixed img {
    max-height: 80px;
    max-width: 80px
}

.item-grid.mixed .thumbnail {
    height: 90px
}

.item-grid.mixed .thumbnail--has-actions {
    height: 130px;
    display: table-cell;
    vertical-align: bottom;
    width: 80px;
    padding: 0 0 5px 30px
}

.item-grid__element-corner {
    display: none
}

.item-grid .item-grid__element-corner {
    display: block
}

.item-list {
    line-height: normal
}

.item-list .item-info {
    float: left;
    margin-right: 20px;
    padding-top: 5px;
    width: 230px
}

.item-list .author {
    font-size: 11px;
    color: #0084b4;
    text-decoration: none
}

.item-list .author:hover, .item-list .author:focus {
    text-decoration: underline
}

.item-list .meta {
    float: left;
    line-height: 16px;
    padding-top: 5px;
    width: 300px
}

.item-list .sale-info, .item-list .item-grid .sale-info--search, .item-grid .item-list .sale-info--search, .item-list .item-grid .sale-info--portfolio, .item-grid .item-list .sale-info--portfolio, .item-list .sale-info--portfolio {
    float: right;
    padding-top: 40px;
    position: relative;
    text-align: center;
    width: 120px
}

.item-list .sale-info__glyph {
    padding-top: 9px
}

.item-list .sale-info__glyph > i {
    position: relative;
    left: -4px
}

.item-list .price {
    color: #171717;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 33px;
    left: 0;
    position: absolute;
    top: 0;
    width: 120px
}

.item-list .rating {
    margin-top: 3px
}

.item-list .video {
    height: auto
}

.item-list .photo .sale-info, .item-list .photo .item-grid .sale-info--search, .item-grid .item-list .photo .sale-info--search, .item-list .photo .item-grid .sale-info--portfolio, .item-grid .item-list .photo .sale-info--portfolio {
    padding-top: 5px
}

.item-list__element-corner {
    display: none
}

.item-list .item-list__element-corner {
    display: block
}

.photo-grid {
    background: none;
    line-height: normal;
    padding: 30px 0 0
}

.photo-grid:after {
    content: "";
    display: table;
    clear: both
}

.photo-grid > li {
    display: block;
    float: left;
    margin: 0 22px 0 0;
    min-height: 150px;
    position: relative;
    text-align: center
}

.photo-grid > li:nth-of-type(4n) {
    margin-right: 0
}

.photo-grid img {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-box-shadow: 0 0 1px #fff;
    box-shadow: 0 0 1px #fff;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%
}

.photo-grid .thumbnail {
    display: block;
    padding-bottom: 25px;
    width: auto
}

.photo-grid .thumbnail > a {
    display: block;
    height: 175px;
    margin-top: 0;
    text-align: center;
    width: 175px
}

.photo-grid .thumbnail > a:hover + .item-thumbnail-actions, .photo-grid .thumbnail > a:hover + .item-thumbnail-actions--inverted-colours {
    opacity: 1
}

.photo-grid .item-thumbnail-actions, .photo-grid .item-thumbnail-actions--inverted-colours {
    margin-top: 0;
    opacity: 0;
    padding-top: 10px;
    -webkit-transition: opacity, 0.3s;
    transition: opacity, 0.3s
}

.photo-grid .item-thumbnail-actions:hover, .photo-grid .item-thumbnail-actions--inverted-colours:hover {
    opacity: 1
}

.user-list .user-info {
    float: left;
    margin-right: 20px;
    padding-top: 5px;
    width: 230px
}

.user-list .meta {
    float: left;
    line-height: 16px;
    padding-top: 5px;
    width: 250px
}

.user-list .sale-info, .user-list .item-grid .sale-info--search, .item-grid .user-list .sale-info--search, .user-list .item-grid .sale-info--portfolio, .item-grid .user-list .sale-info--portfolio {
    float: right;
    padding-top: 35px;
    position: relative;
    text-align: center;
    width: 120px
}

.user-list .sale-count {
    color: #171717;
    font-size: 33px;
    line-height: 34px;
    font-style: normal;
    left: 0;
    position: absolute;
    top: 0;
    width: 120px
}

.user-list .rating {
    margin-top: 3px
}

.meta-categories a {
    color: #0084b4;
    text-decoration: none
}

.meta-categories a:hover {
    text-decoration: none
}

.meta-categories a:after {
    content: "/";
    color: #999;
    margin: 0 5px
}

.meta-categories a:last-child:after {
    content: none
}

.magnifier {
    color: #fff;
    background: #333;
    border: 1px solid #000;
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
    position: absolute;
    z-index: 9100;
    display: none;
    padding: 0px 10px 7px
}

.magnifier .size-limiter {
    margin-top: 10px;
    background: #565656
}

.magnifier strong {
    padding-top: 7px;
    font: 16px/20px Helvetica, Arial, sans-serif;
    color: #fff;
    font-weight: bold;
    display: block
}

.magnifier .info {
    color: #686868;
    font-size: 11px;
    line-height: 18px;
    overflow: hidden;
    width: 100%
}

.magnifier .author-category {
    float: left
}

.magnifier .price {
    float: right;
    margin-left: 20px;
    font: 40px/40px Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #fff
}

.magnifier .price sup {
    font-size: 23px;
    top: 0;
    vertical-align: 10px
}

.magnifier .category {
    display: block;
    color: #aeaeae;
    padding-top: 8px
}

#landscape-image-magnifier .size-limiter {
    width: 472px;
    height: 240px;
    overflow: hidden
}

#landscape-image-magnifier .size-limiter img {
    width: 472px;
    height: 240px
}

#landscape-image-magnifier strong {
    width: 472px
}

#video-magnifier.magnifier {
    display: inline;
    left: -9999px;
    top: 0
}

#video-magnifier .size-limiter {
    width: 472px;
    height: 264px;
    overflow: hidden
}

#video-magnifier .size-limiter img {
    width: 472px;
    height: 264px
}

#video-magnifier strong {
    width: 472px
}

#portrait-image-magnifier .size-limiter {
    width: 240px;
    height: 472px;
    overflow: hidden
}

#portrait-image-magnifier .size-limiter img {
    width: auto;
    height: 472px
}

#portrait-image-magnifier strong {
    width: 240px
}

#square-image-magnifier .size-limiter {
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 10px auto 0px
}

#square-image-magnifier .size-limiter img {
    width: 300px;
    height: auto;
    display: block
}

#square-image-magnifier strong {
    width: 300px
}

#smart-image-magnifier .size-limiter {
    overflow: hidden;
    position: relative;
    text-align: center
}

#smart-image-magnifier .size-limiter img {
    display: block;
    margin: 0px auto
}

#smart-image-magnifier.previewable img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1
}

#smart-image-magnifier.previewable .thumbnail_preview {
    z-index: 0
}

.pagination {
    display: table;
    font-weight: bold;
    margin-bottom: 20px;
    width: 100%
}

.fixed-layout .pagination {
    display: block;
    text-align: right;
    width: auto
}

.pagination__list {
    list-style: none;
    display: table-row
}

.pagination__list > li {
    display: table-cell
}

.pagination__list > li:first-child, .pagination__list > li:last-child {
    width: 30px
}

.fixed-layout .pagination__list {
    display: block
}

.fixed-layout .pagination__list > li {
    display: inline-block
}

.fixed-layout .pagination__list > li:first-child, .fixed-layout .pagination__list > li:last-child {
    width: auto
}

.fixed-layout .pagination__list > li:last-child {
    margin-right: -4px
}

.pagination__page, .pagination__page--current, .pagination__summary, .pagination__gap, .pagination__next, .pagination__next--disabled, .pagination__previous, .pagination__previous--disabled {
    border-radius: 4px;
    display: none;
    font-size: 14px;
    height: 32px;
    line-height: 30px;
    text-align: center
}

.fixed-layout .pagination__page, .fixed-layout .pagination__page--current, .fixed-layout .pagination__summary, .fixed-layout .pagination__gap, .fixed-layout .pagination__next, .fixed-layout .pagination__next--disabled, .fixed-layout .pagination__previous, .fixed-layout .pagination__previous--disabled {
    display: block;
    font-size: 12px;
    height: 30px;
    padding: 0 9px
}

.pagination__page {
    color: #999;
    text-decoration: none
}

.pagination__page:hover {
    background: #e1e8ed;
    color: #444;
    text-decoration: none
}

.pagination__page--current {
    background: #eee;
    border: 1px solid #e1e8ed;
    color: #444
}

.pagination__summary {
    display: block;
    color: #999;
    font-size: 13px
}

.fixed-layout .pagination__summary {
    display: none
}

.fixed-layout .pagination__gap {
    font-size: 12px;
    color: #999;
    padding: 0 2px
}

.pagination__next, .pagination__next--disabled, .pagination__previous, .pagination__previous--disabled {
    display: block;
    text-decoration: none;
    background: #444;
    border: 1px solid #444;
    color: #fff;
    padding: 6px 25px 5px;
    position: relative
}

.fixed-layout .pagination__next, .fixed-layout .pagination__next--disabled, .fixed-layout .pagination__previous, .fixed-layout .pagination__previous--disabled {
    padding: 0 10px
}

.pagination__next:hover, .pagination__next--disabled:hover, .pagination__previous:hover, .pagination__previous--disabled:hover, .pagination__next:focus, .pagination__next--disabled:focus, .pagination__previous:focus, .pagination__previous--disabled:focus {
    background: #0084b4;
    border: 1px solid #0084b4;
    color: #fff;
    text-decoration: none
}

.pagination__next:after, .pagination__next--disabled:after, .pagination__previous:after, .pagination__previous--disabled:after {
    font-family: marketplace-glyphs;
    font-style: normal;
    font-weight: normal;
    speak: none;
    text-align: center;
    width: 1em;
    display: block;
    position: relative;
    top: 1px
}

.pagination__next b, .pagination__next--disabled b, .pagination__previous b, .pagination__previous--disabled b {
    display: none
}

.pagination__next--disabled, .pagination__previous--disabled {
    visibility: hidden
}

.fixed-layout .pagination__next--disabled, .fixed-layout .pagination__previous--disabled {
    display: none
}

.pagination__next, .pagination__next--disabled {
    margin-right: 4px
}

.pagination__next:after, .pagination__next--disabled:after {
    content: "\f12e"
}

.pagination__previous, .pagination__previous--disabled {
    position: relative;
    left: 4px
}

.pagination__previous.-arrows-only, .-arrows-only.pagination__previous--disabled {
    left: 0
}

.pagination__previous:after, .pagination__previous--disabled:after {
    content: "\f11e";
    left: -1px
}

.star-rating, .star-rating--large, .star-rating--review-widget {
    display: inline-block;
    font-size: 0;
    line-height: 1
}

.star-rating > a, .star-rating--large > a, .star-rating--review-widget > a, .star-rating > b, .star-rating--large > b, .star-rating--review-widget > b {
    display: inline-block
}

.star-rating > b, .star-rating--large > b, .star-rating--review-widget > b {
    cursor: default
}

.star-rating--large > a:before, .star-rating--review-widget > a:before, .star-rating--large > a:after, .star-rating--review-widget > a:after, .star-rating--large > b:before, .star-rating--review-widget > b:before, .star-rating--large > b:after, .star-rating--review-widget > b:after {
    font-size: 18px;
    line-height: 18px
}

.star-rating--review-widget {
    position: relative;
    top: 1px;
    left: 5px
}

.star-rating__star, .star-rating__star--full, .star-rating__star--half, .star-rating__star--empty {
    position: relative;
    color: #d2d1d0;
    text-decoration: none !important;
    font-size: 0
}

.star-rating__star:hover, .star-rating__star--full:hover, .star-rating__star--half:hover, .star-rating__star--empty:hover, .star-rating__star:active, .star-rating__star--full:active, .star-rating__star--half:active, .star-rating__star--empty:active {
    text-decoration: none
}

.star-rating__star:before, .star-rating__star--full:before, .star-rating__star--half:before, .star-rating__star--empty:before, .star-rating__star:after, .star-rating__star--full:after, .star-rating__star--half:after, .star-rating__star--empty:after {
    font-family: marketplace-glyphs;
    font-style: normal;
    font-weight: normal;
    speak: none;
    text-align: center;
    width: 1em;
    margin-right: 5px;
    font-size: 13px;
    line-height: 1
}

.star-rating__star:before, .star-rating__star--full:before, .star-rating__star--half:before, .star-rating__star--empty:before {
    content: "\f13a"
}

.star-rating__star.is-on, .is-on.star-rating__star--full, .is-on.star-rating__star--half, .is-on.star-rating__star--empty {
    color: #fec42d
}

.star-rating__star.is-off, .is-off.star-rating__star--full, .is-off.star-rating__star--half, .is-off.star-rating__star--empty {
    color: #d4d4d4
}

.star-rating__star--full {
    color: #fec42d
}

.star-rating__star--half {
    color: #fec42d
}

.star-rating__star--half:before {
    color: #fec42d
}

.star-rating__star--half:after {
    position: absolute;
    right: 0;
    content: "\f13b";
    color: #d4d4d4
}

.star-rating__star--empty {
    color: #d4d4d4
}

.search-field, .search-field--bordered, .search-field--off-canvas {
    position: relative
}

.search-field:after, .search-field--bordered:after, .search-field--off-canvas:after {
    content: "";
    display: table;
    clear: both
}

.search-field > input, .search-field--bordered > input, .search-field--off-canvas > input {
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    border-color: #fff;
    border-radius: 4px;
    font-size: 13px;
    padding: 6px 35px 5px 8px;
    width: 99%;
    outline: none;
    border: none;
    height: 30px;
    color: #7e7e7e
}

.search-field > input::-webkit-search-cancel-button, .search-field--bordered > input::-webkit-search-cancel-button, .search-field--off-canvas > input::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button
}

.search-field > button, .search-field--bordered > button, .search-field--off-canvas > button {
    font-family: marketplace-glyphs;
    font-style: normal;
    font-weight: normal;
    speak: none;
    text-align: center;
    width: 1em;
    background: #fff;
    border-left: 1px solid #e1e8ed;
    border-radius: 0 4px 4px 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    float: left;
    font-size: 14px;
    margin: 0;
    min-width: 0;
    padding: 5px 1px 4px 0;
    position: absolute;
    right: 0;
    text-shadow: none;
    width: 30px
}

.search-field > button:before, .search-field--bordered > button:before, .search-field--off-canvas > button:before {
    content: "\f130";
    color: #999
}

.search-field > button:hover, .search-field--bordered > button:hover, .search-field--off-canvas > button:hover {
    background-color: #e0e0e0
}

.search-field > button:hover:before, .search-field--bordered > button:hover:before, .search-field--off-canvas > button:hover:before {
    color: #444
}

.search-field > button:focus, .search-field--bordered > button:focus, .search-field--off-canvas > button:focus {
    background-color: #bbb
}

.search-field > button:focus:before, .search-field--bordered > button:focus:before, .search-field--off-canvas > button:focus:before {
    color: #444
}

.search-field > button:active, .search-field--bordered > button:active, .search-field--off-canvas > button:active {
    background-color: #eee
}

.search-field--bordered {
    border: 1px solid #d4d4d4;
    border-radius: 4px
}

.search-field--off-canvas > input {
    font-size: 18px
}
