<h1>Listting Articles</h1>
<%= link_to 'My Blog', controller: 'articles' %>
<table border=1>
  <%= link_to 'New article', new_article_path %>
  <tr>
    <th>Tiêu đề</th>
    <th>Nội dung</th>
    <th colspan="2"></th>
    <th colspan="2"></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Xem', article_path(article) %></td>
      <td><%= link_to 'Sửa', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
